{% extends 'base.html.twig' %}
{% block body %}
  <a class="btn btn-default" href="/todos">Volver</a>
  <hr>
  <h2 class="page-header">{{todo.title}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Categoria: {{todo.category}}</li>
    <li class="list-group-item">Prioridad: {{todo.priority}}</li>
    <li class="list-group-item">Descripcion: {{todo.description}}</li>
    <li class="list-group-item">Fecha Entrega: {{todo.date|date('d/m/Y H:i:s')}}</li>
  </ul>
{% endblock %}